body {
  margin: 0;
  overflow: auto;

  background-color: #FFFFFF;
  color:white;
}
#navbar{
  background-color: #00703C;
  height: 100px;
}
.btn{
  color: #FFFFFF;
}
.mynav{
  color: #FFFFFF;
  font-size: 30px;

}
